//- div.header
//-   ul.nav.nav-pills.pull-right
//-     li.active
//-       a(ng-href="#") Home
//-     li
//-       a(ng-href="#") About
//-     li
//-       a(ng-href="#") Contact
//-   h3.text-muted SANDBOX

- var n = 0

section
  div.site-width
    div.copy-width
      while n < 20
        figure.a120a_120.b_13b13.c_13= n++

- var n = 0
- var i = 13


  div.site-width
    div.copy-width
      while n < i
        figure.a113a_120.b_13b13.c_13= n++

- var n = 0
- var i = 12


  div.site-width
    div.copy-width
      while n < i
        figure.a112a_120.b_13b13.c_13= n++

- var n = 0
- var i = 11


  div.site-width
    div.copy-width
      while n < i
        figure.a111a_120.b_13b13.c_13= n++

- var n = 0
- var i = 10


  div.site-width
    div.copy-width
      while n < i
        figure.a110a_120.b_13b13.c_13= n++


- var n = 0
- var i = 9


  div.site-width
    div.copy-width
      while n < i
        figure.a19a_120.b_13b13.c_13= n++


- var n = 0
- var i = 8

  div.site-width
    div.copy-width
      while n < i
        figure.a18a_120.b_13b13.c_13= n++

- var n = 0
- var i = 7


  div.site-width
    div.copy-width
      while n < i
        figure.a17a_120.b_13b13.c_13= n++

- var n = 0
- var i = 6

  div.site-width
    div.copy-width
      while n < i
        figure.a16a_120.b_13b13.c_13= n++

- var n = 0
- var i = 5

  div.site-width
    div.copy-width
      while n < i
        figure.a15a_120.b_13b13.c_13= n++

section
  div.site-width
    div.copy-width
      figure.a_23a14.b_13b13.c_13 figure 2/3 (a23)
      figure.a_13a14.b_13b13.c_13 figure 1/3 (a13)


section
  div.site-width
    div.copy-width
      figure.a_14a14.b_13b13.c_13 box 1
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13.mr0 box 3


section
  div.site-width
    div.copy-width
      h4 HTML5 Boilerplate
      p HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.


section
  div.site-width
    div.copy-width
      figure.a_14a14.b_13b13.c_13 box 1
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13 box 2
      figure.a_14a14.b_13b13.c_13.mr0 box 3


div.footer
  p
    span.glyphicon.glyphicon-heart
    |  from the Yeoman team
